<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Input error</title>
<!-->
	<link rel="stylesheet" media="screen" href="style.css" type="text.css">
<!-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Morgan Hollis">
	<meta name="description" content="A webcrawler to retrieve publication dates from the Astrophysical Journal website.">
	<meta name="robots" content="all">
</head>

<body id="publication-dates">
	<div class="page-wrapper">

		<section class="intro" id="intro">
			<div class="preamble" id="app-description">
				<h1>Input error!</h1>
				<body>
					<p>----------</p>
					<p>Those input parameters don't seem to be valid. Please go back and try again.</p>
				</body>
			</div>
		</section>

	</div>
</body>

</html>
